
.DS_Store

.idea/

data_augmentation_experiments/

Submission/SubmissionModel/

*.jpg

SplitData

*.zip

SubmissionPreTrain copy/

TransferLearningModel_LearningRate_Norm&Alpha/variables/

*.pb

*.index

*.data-00000-of-00001

SubmissionCnnCustom/metadata

dataset_split/
Challenge_2/Submission/

Challenge_2/SubmissionPrepProc/metadata

Challenge_2/SubmissionPrepProc/

Challenge_2/Submission 2/
